@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   

    <a href="/invoice" class="btn btn-success">
        Invoice List
    </a>
    <a href="/invoice/create" class="btn btn-danger">
        Invoice Details
    </a>
</div>
